<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  android:versionCode="3" android:versionName="2.0" android:enabled="true">

  <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="34" />

  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

  <application android:icon="@drawable/icon" android:label="@string/app_name">
    <activity android:name=".Main"
        android:launchMode="singleTask"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter>
            <action android:name="ca.zgrs.clipper.GET" />
            <action android:name="ca.zgrs.clipper.SET" />
            <action android:name="clipper.get" />
            <action android:name="clipper.set" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
    <service android:name=".ClipboardService"
        android:exported="false"
        android:enabled="true"
        android:foregroundServiceType="specialUse">
        <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="clipboard_access" />
    </service>

  </application>

</manifest>
